li.blockList:has(> a#field\.summary),
li.blockList:has(> a#field\.detail) {
  display: none !important;
}

a#field\.summary,
a#field\.detail { display: none !important; }

a#field\.summary ~ h3,
a#field\.detail  ~ h3,
a#field\.summary ~ table.memberSummary,
a#field\.detail  ~ table.memberSummary,
a#field\.summary ~ ul.blockList,
a#field\.detail  ~ ul.blockList {
  display: none !important;
}

a[href="#field.summary"],
a[href="#field.detail"] { display: none !important; }
